@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontellof4ce.eot?19403091');
  src: url('../fonts/fontellof4ce.eot?19403091#iefix') format('embedded-opentype'),
       url('../fonts/fontellof4ce.woff?19403091') format('woff'),
       url('../fonts/fontellof4ce.ttf?19403091') format('truetype'),
       url('../fonts/fontellof4ce.svg?19403091#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19403091#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-github-circled:before { content: '\e800'; } 
.icon-flickr-circled:before { content: '\e801'; } 
.icon-vimeo-circled:before { content: '\e802'; } 
.icon-twitter-circled:before { content: '\e803'; } 
.icon-facebook-circled:before { content: '\e804'; } 
.icon-gplus-circled:before { content: '\e805'; } 
.icon-pinterest-circled:before { content: '\e806'; } 
.icon-youtube:before { content: '\e813'; } 
.icon-tumblr-circled:before { content: '\e807'; } 
.icon-linkedin-circled:before { content: '\e808'; } 
.icon-dribbble-circled:before { content: '\e809'; } 
.icon-stumbleupon-circled:before { content: '\e80a'; } 
.icon-lastfm-circled:before { content: '\e80b'; } 
.icon-rdio-circled:before { content: '\e80c'; } 
.icon-spotify-circled:before { content: '\e80d'; } 
.icon-instagram:before { content: '\e80e'; } 
.icon-skype-circled:before { content: '\e80f'; } 
.icon-picasa:before { content: '\e810'; } 
.icon-mixi:before { content: '\e811'; } 
.icon-vkontakte:before { content: '\e812'; } 